html,body {
    height: 100%;
}

.title {
    margin-top: 5%;
    margin-bottom: 0.5%;
    margin-left: 25%;
    margin-right: 10%;
    display: block;
    max-width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 900;
    box-shadow: 5px 5px 5px -1px black;
    border-color: black;
    color: white;
    background-color: rgb(116, 0, 170);
    font-family: 'Montserrat', sans-serif;
}

.body {
    padding-bottom: 1em;
}

.card-style {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 10%;
    display: block;
    max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 900;
    box-shadow: 1px 1px 1px 5px rgb(21, 172, 159);
    border-width: 1em;
    border-color: black;
}

.field-style {
    margin: 25px 25px 15px 0px;
    max-width: 350px;
    width: 20em;
    font-family: 'Montserrat', sans-serif;
}

.date-style {
    margin: 25px 25px 15px 0px;
    max-width: 350px;
    font-family: 'Montserrat', sans-serif;
}

.text-area-style {
    margin: 25px 25px 15px 0px;
    max-width: 35em;
    width: 25em;
    font-family: 'Montserrat', sans-serif;
}

.reg-button {
    float: right;
    clear: both;
    margin-right: 4%;
    font-family: 'Montserrat', sans-serif;
}

.search-button {
    margin-right: 4%;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}