

.card-style {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 350px;
    padding: 40px 10px 40px 150px;
    font-weight: 900;
    box-shadow: 1px 1px 1px 5px rgb(21, 172, 159);
    border-color: black;
    border-width: 1em;
    /* background-color: rgb(39, 156, 117); */
}

.content {
    display: block;
    padding: 1px 50px 1px 50px;
    margin-bottom: 50px;
    /* background-color: rgb(240, 141, 48); */
}

.title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav-title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.button {
    color: rgb(21, 172, 159);
    font-family: 'Montserrat', sans-serif;
}